* {
    margin: 0;
    padding: 0;
}

#container {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#blocksContainer {
    background-color: white;
    height: 60vh;
    width: 30vw;
    display: inline-grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.block {
    height: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}