* {
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100vw;
}

.mainContainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

.container{
    height: 60vh;
    width: 25vw;
    background-color: whitesmoke;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 50px;
}